.tabs {
    list-style-type: none;
    padding-left: 5px;
    margin: 0;
}

.tabs.subtree {
    padding-left: 15px;
}

.tab {
    box-sizing: border-box;
    padding-left: 5px;
    width: 100%;
    border-left: 2px solid rgba(0,0,0,0);
}

.tab.inactive {
    color: #586e75;
}

.tab.selected {
    background-color: #073642;
    border-left: 2px solid #b58900;
}

.tab .ellipsis {
    margin-left: 1em;
    color: #586e75;
}

body {
    background-color: #002b36;
    color: #839496;
    font: 18px monospace;
    margin: 0;
    margin-top: 2px;
}
